.single-design .site-main {
  background: url(../../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  li {
    font-size: 13px;
  }
}
.work-section,
.character-section,
.obstacles-section,
.important-section {
  text-align: center;
}
.single-design .entry-header {
  @include desktop {
    padding-left: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  h2.entry-title {
    padding-top: 4rem;
    @include tablet {
      margin-bottom: 30px;
    }
  }

  a {
    @include anchor;
    text-transform: uppercase;
    padding-left: 1rem;
  }
}

.design {
  margin: 0 auto;
  padding-bottom: 5rem;
}

//Draft Code
.work-folder {
  background: url(../../assets/images/set-up-file.png);
  @include desktop {
    background: url(../../assets/images/set-up-file.png),
      url(../../assets/images/ambient-squares.png);
  }
}
.character-folder {
  background: url(../../assets/images/character-file.png);
  @include desktop {
    background: url(../../assets/images/character-file.png),
      url(../../assets/images/ambient-squares.png);
  }
}
.obstacles-folder {
  background: url(../../assets/images/cutest-pet-file.png);
  @include desktop {
    background: url(../../assets/images/cutest-pet-file.png),
      url(../../assets/images/ambient-squares.png);
  }
}
.important-folder {
  background: url(../../assets/images/agriculture-file.png);
  @include desktop {
    background: url(../../assets/images/agriculture-file.png),
      url(../../assets/images/ambient-squares.png);
  }
}
.design-folder {
  background-repeat: no-repeat;
  background-size: 338px 300px;
  background-position: left top;
  margin-bottom: 2rem;
  @include tablet {
    background-size: 550px 300px;
  }
  @include desktop {
    background-size: 780px 380px, 1000px 380px;
    background-position: center top;
    margin-bottom: 5rem;
  }
}

.design-section {
  color: $color__main-text;
  background: $background__dark;
  width: 322px;
  margin-left: 2rem;
  margin-right: 1.3rem;
  padding-bottom: 0.1rem;
  @include tablet {
    display: flex;
    width: 600px;
  }
  @include desktop {
    justify-content: center;
    margin-left: 10rem;
    margin-right: 4rem;
    width: 770px;
    min-height: 340px;
  }
}

.design-title {
  color: $color__main-text;
  width: 112px;
  font-size: 0.85rem;
  font-family: $font__futura-bk;
  text-transform: uppercase;
  padding-top: 1.5rem;
  padding-left: 1.1rem;
  height: 60px;
  @include tablet {
    font-size: 1.1rem;
    padding-left: 2rem;
    width: 150px;
    height: 70px;
    @include desktop {
      font-size: 1.1rem;
      padding-left: 10rem;
      width: 320px;
    }
  }
}
.design-text {
  text-align: left;
  margin: 0 1rem;
  line-height: 1.25rem;
  @include tablet {
    margin-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  h3 {
    display: none;
  }
  p {
    font-size: 0.9rem;
  }
}
.design-image img {
  width: 250px;
  height: auto;
  padding-top: 1rem;
  @include tablet {
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-top: 3rem;
  }
  @include desktop {
    width: 350px;
  }
}
.design-border {
  border-bottom: 1px solid #fff;
  padding-top: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.design-image {
  height: 220px;
  @include tablet {
    order: 3;
  }
}
.design-border {
  @include tablet {
    order: 2;
    border-right: 1px solid #fff;
    margin: 4rem 1rem;
  }
}
