//Final Code
.single-design .site-main{
    background:  url(../../assets/images/background.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top; 
}

.work-section, .character-section, .obstacles-section, .important-section{
    text-align: center;
}

.single-design .entry-header{
    @include desktop{
    padding-left: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    }


a{
    color: #fff;
    text-decoration: none;
    font-family: Futura-Bk-Bt;
    text-transform: uppercase;
    padding-left: 1rem;
}
}



//Draft Code
.work-folder{
    background: url(../../assets/images/set-up-file.png);
    @include desktop{
    background: url(../../assets/images/set-up-file.png),url(../../assets/images/ambient-squares.png);
}
}
.character-folder{
    background: url(../../assets/images/character-file.png);
    @include desktop{
        background: url(../../assets/images/character-file.png),url(../../assets/images/ambient-squares.png);
    }
}
.obstacles-folder{
    background: url(../../assets/images/cutest-pet-file.png);
    @include desktop{
        background: url(../../assets/images/cutest-pet-file.png),url(../../assets/images/ambient-squares.png);
    }
}
.important-folder{
    background: url(../../assets/images/agriculture-file.png);
    @include desktop{
        background: url(../../assets/images/agriculture-file.png),url(../../assets/images/ambient-squares.png);
    }
}
.design-folder{ 
    background-repeat: no-repeat;
    background-size: 90% 300px;
    background-position: left top;
    height: auto;
    width: auto;
    margin-bottom: 5rem;
    @include desktop{
    background-size: 87% 300px, 100% 350px;
    background-position: center top;
    }
}



.design-section {
    color: #fff;
    background: rgba(0,0,0,0.6);
    margin-left: 2rem;
    margin-right: 2rem;
    @include tablet{
        display: flex;
    }
    @include desktop{
    justify-content: center;
    margin-left: 10rem;
    margin-right: 4rem;
    }
    
}

.design-title{
    color: #fff;
    width: 112px;
    font-size: 0.85rem;
    font-family: Futura-Bk-Bt;
    text-transform: uppercase;
    padding-top: 1.5rem;
    padding-left: 1.1rem;
    @include tablet{
    font-size: 1.1rem;
    padding-left: 2rem;
    width: 150px;
    @include desktop{
    font-size: 1.1rem;
    padding-left: 9rem;
    width: 300px;

    }

    }
}

.design-text{
    text-align: left;
    margin-right: 1rem;
    line-height: 1.25rem;
    @include tablet{
    margin-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    }
}

.design-image img{
    width: 271px;
    height: auto;
    padding-top: 1rem;
    @include tablet{
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-top: 3rem;
    }
}

.design-border{
    border-bottom: 1px solid #fff;
    padding-top: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.design-image {
    @include tablet{
        order: 3;
    }
}

.design-border {
    @include tablet{
    order: 2;
    border-right: 1px solid #fff;
    margin: 4rem 1rem;
    }
}