// the download page
.page-download {
  color: #fff;
  background: url(../../assets/images/background.jpg);
  background-size: cover, 800px;
  @include desktop {
    background: url(../../assets/images/background.jpg);
    background-size: cover, 800px;
  }

  .site-content {
    margin-top: 4rem;
  }
  .site-main {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      width: 600px;
    }
    @include desktop {
      width: 80%
    }
  }

  .footer-relative {
    padding-bottom: 50px;
  }

 

  .wpcf7-form {
    display: block;
    .parentsName,
    .studentsName {
      font-family: 'futura-bold';
      text-transform: uppercase;
      font-size: 25px;
      justify-content: space-between;
      margin-top: 2rem;
      @include desktop {
        display: flex;
      }
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white;
      font-size: 1rem;
      opacity: 0.5;
      text-transform: capitalize;
    }
  }

  input[type='email'],
  input[type='text'] {
    color: #fff;
    padding: 15px 10px;
    background: transparent;
    border: 3px solid white;
    width: 100%;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    @include desktop {
      width: 80%;
    }
    &:focus {
      outline: 0;
    }
  }

  .site-content {
    padding-top: 50px;
  }

  .entry-title {
    font-family: 'futura-bold';
    font-size: 30px;
    text-transform: uppercase;
    line-height: 53px;
    padding-top: 1rem;
    margin: 0;
    @include desktop {
      font-size: 40px;
    }
  }

  //p for the sentence about downloading game
  .project-setup {
    margin-top: 3rem;
    line-height: 1.6;
    font-family: 'futura-heavy';
    font-weight: lighter;
    @include desktop {
      margin-top: 2rem;
      max-width: 90%;
    }
  }

  .email {
    margin-top: 2rem;
    font-family: 'futura-bold';
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 3rem;
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      text-transform: lowercase;
    }
    label {
      width: 100%;
    }
    input {
      @include desktop {
        width: 40%;
      }
    }
  }

  .submit {
    margin-top: 6rem;
    margin-bottom: 12rem;
    text-align: center;
  }

  //Custom Button

  .wpcf7-submit {
    color: white;
    width: 275px;
    padding: 20px;
    background: linear-gradient(180deg, #f5d672, #e77839);
    border-radius: 3px;
  }

  input[type='submit'] {
    font-size: 25px;
    font-family: 'futura-bk-bt' normal;
    text-transform: uppercase;
  }
}
