.drop-down {
    *{
        box-sizing: initial !important;
    &:after,
    &:before {
        box-sizing: initial !important;
    }
    font-family: 'Futura-Bk-BT';
    }
    display: none;
    position: absolute;
    z-index: 1000;
    background: url(../../assets/images/drop-down.png) no-repeat, rgba(0, 0, 0, 0.8);
    background-size: 100% 100%;
    width: 100%;
    margin-left: -1.5rem;
    @include tablet {
        background: url(../../assets/images/drop-down-tablet.png) no-repeat, rgba(0, 0, 0, 0.8);
        background-size: 100% 100%;
        margin-left: -1.5rem;
    }
    @include desktop {
        background: url(../../assets/images/drop-down-desktop.png) no-repeat, rgba(0, 0, 0, 0.8);
        background-size: 100% 100%;
        margin-left: -9.5rem;
    }
    img {
        width: 100%;
    }
    .game-dropdown {
        flex-wrap: wrap;
        display: grid;
        grid-template-areas:
        "title prizes"
        "img img"
        "img img"
        "img img"
        "meta program"
        "coins coins"
        "buttons design";
        color: white;
        min-height: 453px;
        padding: 10px 30px;
        font-size: 14px;
        text-transform: uppercase;
        @include tablet {
            padding: 15px;
            padding-left: 45px;
            padding-top: 10%;
            font-size: 18px;
            grid-template-areas: 
            "title img"
            "meta img"
            "program img"
            "design img"
            "coins img"
            "buttons prizes";
            grid-template-rows: 13% 13% 13% 13% 13% 20%;
            h4 {
                margin: 0;
            }
        }
        @include desktop {
            font-size: 20px;
            grid-template-areas: 
            "title img"
            "meta img"
            "program img"
            "design img"
            "buttons img"
            "coins prizes";
        }
    }
    // grid template areas
    .title {
        grid-area: title;
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        max-width: 160px;
        @include tablet {
            min-width: 280px;
        }
        @include desktop {
            padding-left: 20%;
            max-width: 100%;
        }
        h3 {
            font-size: 20px;
            display: inline-block;
            margin: 0;
            @include tablet {
                font-size: 30px;
            }
            a {
            color: white;
            text-decoration: none;
            }
        }
    }
    .meta {
        grid-area: meta;
        @include desktop {
            padding-left: 20%;
            max-width: 100%;
        }
    }
    .program {
        text-align: end;
        grid-area: program;
        @include tablet {
            text-align: start;
        }
        @include desktop {
            padding-left: 20%;
            max-width: 100%;
        }
        a {
            color: #78F7FA;
        }
    }
    .design {
        grid-area: design;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include tablet {
            justify-content: flex-start;
        }
        @include desktop {
            padding-left: 20%;
            max-width: 100%;
        }
        a {
            background: linear-gradient(180deg, #f5d672, #e77839);
            padding: 10px;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 11px;
            @include tablet {
                font-size: 15px;
                border-radius: 2px;
                padding: 15px 30px;
            }
        }
    }
    .coins {
        grid-area: coins;
        h4 {
            margin: 0;
            display: flex;
            align-items: center;
            @include tablet {
                height: 100%;
            }
            @include desktop {
                padding-left: 20%;
                max-width: 100%;
                border-top: 1px solid white;
                margin-top: 3.5%;
                width: 66%;
            }
            img {
            width: 20px;
            @include tablet {
                width: 25px;
            }
            }
        }
    }
    .buttons {
        grid-area: buttons;
        height: 40px;
        display: flex;
        align-items: center;
        width: 50%;
        @include tablet {
            align-items: flex-end;
            border-top: 1px solid white;
            width: 102%;
            height: 100%;
        }
        @include desktop {
            padding-left: 20%;
            max-width: 100%;
            border-top: none;
        }
        p {
            margin: 0;
        }
        h4 {
            margin: 0;
        }
        @include desktop {
            .play-game {
                img {
                    width: 50px;
                }
            }
        }
        img {
            width: 20px;
            @include tablet {
                width: 25px;
                margin: 10px;
            }
            @include desktop {
            width: 35px;
            
            }
        }
        .play-game, 
        .download {
            display:none;
            @include desktop {
                display: block;
            }
        }
    }

    .thumbnail {
        grid-area: img;
        text-align: center;

        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 280px;
        }
        @include desktop {
            height: 400px;
            align-items: flex-start;
            justify-content: flex-start;
        }
        img {
            height: auto;
            min-height: 256px;
            width: 100%;
            @include tablet {
                min-width: 256px;
                min-height: 245px;
            }
            @include desktop {
                height: 300px;
                width: 500px;
            }
        }
    }
    .gem {
        grid-area: prizes;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        font-weight: lighter;
        @include tablet {
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-start;
            border-top: 1px solid white;
            width: 75%;
            margin-left: 18%;
            right: 0;
            &:before {
                content: "";
                border-left: 1px solid white;
                height: 60%;
                width: 1px;
                position: absolute;
                left: 53%;
                @include desktop {
                    left: 44%;
                }
            }
            h4 {
                margin: 0;
                margin-bottom: 12px;
            }
        }
        @include desktop {
            justify-content: flex-start;
            width: 100%;
            margin: 0;
            margin-top: 3%;
        }
        div {
            border: none;
            img {
            display: inline-block; 
            width: 30px;
            height: 30px;
            margin: 5px;
            border: none;
            @include desktop {
                width: 40px;
                height: 40px;
            }
            }
        }
    }
  }

  .-category:last-of-type{
    .drop-down {
        position: static;
    }
    
}

