//3 Featured games slanted infront of the the rainbow

.rainbow-game-container {
  position: relative;
  .game-background {
    position: absolute;
    top: 25%;
    @include desktop {
      top: 35%;
    }
    width: 100%;
    text-align: center;
    .featured-game-section {
      width: 100%;
      .featured-games {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        .featured-game {
          background: url(../../assets/images/game-card-desktop.png) no-repeat;
          background-size: contain;
          background-position: top;
          height: 200px;
          width: 135px;

          //First card on the left

          &:first-child {
            transform: rotate(-25deg);
            transition: transform 0.65s ease-in-out, top 0.65s ease-in-out,
              width 0.75s ease-in-out, height 0.75s ease-in-out;
            position: absolute;
            left: 10%;
            &:hover {
              background-size: cover;
              height: 240px;
              width: 165px;
              z-index: 5;
              top: -30px;
              transform: rotate(-10deg);
            }
            @include tablet {
              top: 80px;
              background-size: contain;
              height: 230px;
              width: 200px;
              &:hover {
                height: 270px;
                width: 180px;
                background-size: cover;
                z-index: 5;
                top: 10px;
                transform: rotate(-15deg);
              }
            }
            @include desktop {
              top: 80px;
              background-size: contain;
              height: 390px;
              width: 320px;
              &:hover {
                height: 440px;
                width: 300px;
                background-size: cover;
                z-index: 5;
                top: 10px;
                transform: rotate(-15deg);
              }
            }
          }

          //Middle card

          &:nth-child(2) {
            background-size: cover;
            height: 240px;
            width: 165px;
            top: -25px;
            z-index: 3;
            position: absolute;
            transition: top 0.35s ease-in-out;
            @include desktop {
              top: -100px;
            }
            &:hover {
              z-index: 5;
              top: -60px;
              @include desktop {
                top: -160px;
              }
            }

            @include tablet {
              height: 300px;
              width: 200px;
            }
            @include desktop {
              height: 440px;
              width: 300px;
            }
          }

          //Card on right

          &:last-child {
            transform: rotate(25deg);
            transition: transform 0.65s ease-in-out, top 0.65s ease-in-out,
              width 0.75s ease-in-out, height 0.75s ease-in-out;
            position: absolute;
            right: 10%;
            &:hover {
              background-size: cover;
              height: 240px;
              width: 165px;
              z-index: 5;
              top: -30px;
              transform: rotate(10deg);
            }
            @include tablet {
              top: 80px;
              background-size: contain;
              height: 230px;
              width: 200px;
              &:hover {
                height: 270px;
                width: 180px;
                background-size: cover;
                z-index: 5;
                top: 10px;
                transform: rotate(15deg);
              }
            }
            @include desktop {
              top: 80px;
              background-size: contain;
              height: 390px;
              width: 320px;
              

              &:hover {
                height: 440px;
                width: 300px;
                background-size: cover;
                z-index: 5;
                top: 10px;
                transform: rotate(15deg);
              }
            }
          }
        }
      }
    }
  }
}


// Section for everything inside of the cards e.g. title, thumbnail, Author, Play button

.rainbow-game-container {
  .featured-game {
    &:first-child,
    &:last-child {
      h3 {
        margin-bottom: 10px;

        @include desktop {
          margin: 30px 0;
        }
      }
      .play-thumbnail-featured {
        img {
          width: 100px;
          height: 100px;
          transition: width 0.65s ease-in-out, height 0.65s ease-in-out;
          @include desktop {
            width: 200px;
            height: 200px;
          }
        }
      }
      .author {
        h4 {
          margin: 0;
          padding-bottom: 7px;
        }
      }
      .play-button-featured {
        margin: 0 auto;
      }
      &:hover {
        .play-thumbnail-featured {
          img {
            width: 125px;
            height: 125px;
            @include desktop {
              width: 220px;
              height: 220px;
            }
          }
        }
      }
    }

    //Middle Card (bigger than the other two at all queries)

    &:nth-child(2) {
      h3 {
        @include desktop {
          margin: 2rem 0;
        }
      }
      .play-thumbnail-featured {
        img {
          width: 135px;
          height: 135px;
          @include desktop {
            width: 220px;
            height: 220px;
          }
        }
      }
      .author {
        h4 {
          margin: 0;
          padding-bottom: 4px;
          @include desktop {
            padding: 1rem 0;
          }
        }
      }
    }
  }
}

//Everything inside cards 

.rainbow-game-container {
  .featured-game {
    &:first-child,
    &:nth-child(2),
    &:last-child {
      h3 {
        a {
          font-family: $font__futura-bk;
          @include anchor;
          font-weight: 300;
          font-size: 14px;
          @include desktop {
            font-size: 1.3rem;
          }
        }
      }
      .play-thumbnail-featured {
        img {
          transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
        }
      }
      .author {
        h4 {
          
            font-family: $font__futura-bk;
            font-weight: 200;
          @include tablet {
            padding-top: 0.5rem;
            
          }
          .author-transform {
            margin: 0;
            padding-bottom: 7px;
            font-family: $font__futura-bk;
            font-weight: 400;
            color: $color__main-text;
            font-size: 14px;
            @include desktop {
              font-size: 1rem;
            }
          }
        }
      }
      .play-button-featured {
        img {
          margin: 0 auto;
          width: 15px;
          height: 15px;
          @include tablet {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
