//3 Featured games slanted infront of the the rainbow

.rainbow-game-container {
    position: relative;
    .game-background {
      position: absolute;
      top: 50%;
      width: 100%;
      .featured-game-section {
        width: 100%;
        .featured-games {
          display: flex;
          justify-content: space-evenly;
          position: relative;
          .featured-game {
            &:first-child {
              transform: rotate(-25deg);
              position: absolute;
              left: 20%;
            }
            &:nth-child(2) {
              position: absolute;
              top: 10%;
            }
            &:last-child {
              transform: rotate(25deg);
              position: absolute;
              right: 20%;
            }
          }
        }
      }
    }
  }