// .agriculture-games, .science-games, .fashion-games, .pet-games, .space-games, .sea-games, .main-carousel .flickity-slider{
//     // height: 500px;
// }

.flickity-viewport {
   height: 325px !important; 
    z-index: 1;
    position: relative;
}

.flickity-slider {
    position: relative;
    height: 550px;
}

.carousel-cell {
    height: 325px;
    margin: 0 50px;
}

.featured-games {
    display: flex;
    img {
        width: 50px;
    }
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    margin: 0;
    padding: 0;
    img{
        width: 30px;
    }
}

.game-background{
    color: $color__main-text;
}

.drop-down{
    color: gold;
    display: none;
    position: absolute;
    z-index: 1000;
    background: rgba( 0, 0, 0, 0.8);
}

.banner .upper-row{
    display: flex;
    justify-content: center;
    padding-top: 14rem;
       .left-lightning{
            padding-top: 4.8rem;
        @include tablet{
            padding-top: 12rem;
        }
        @include desktop{
            padding-top: 17rem;
        }
        img{
            width: 90px;
        @include tablet{
            width: 110px;
        }
        @include desktop{
            width: 145px;
            height: 170px;
        }
        }
          }
       .center-label{
           padding-top: 8.5rem;
        @include tablet{
            padding-top: 16.5rem;
        }
        @include desktop{
            padding-top: 19rem;
        }
        img{
           width: 290px; 
         @include tablet{
            width: 380px;
        }
        @include desktop{
            width: 750px;
            height: 130px;
        }
          }
          }
        
          .right-lightning{
            padding-top: 4.8rem;
        @include tablet{
            padding-top: 12rem;
        }
        @include desktop{
            padding-top: 17rem;
        }

        img{
            width: 90px;
        @include tablet{
            width: 110px;
        }
        @include desktop{
            width: 145px;
            height: 170px;
        }
        }
          }


        
        

}

.banner .lower-row{
    text-align: center;
    img{
        width: 400px;
        @include tablet{
            height: 120px;
            width: 600px;
            
        }
        @include desktop{
            height: 270px;
            width: 1024px;
        }


    }

}
