.site-header{
background: linear-gradient( rgba(255,255,255,0.25), rgba(0,0,0,0.7)); 
box-shadow: 0 0 4px 0 rgba(0,0,0,0.5); 
position: absolute;
height: 50px;
width: 100%;
    @include tablet {
        height: 45px;
    }
    @include desktop {
        height: 70px;
    }
    fieldset {
        margin: 0;
        border: 0;
    }
}



h3.site-title{
    height: 30px;
    width: 98px;
    color: #FF008C;	
    font-family: Futura-Bk-BT;	
    font-size: 13px;
    font-weight: bold;	
    line-height: 30px;
    text-transform: uppercase;

}

div.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 30px;
    width: 25px;
    margin: 0.5rem 0.5rem;
}

.left-column, .right-column{
    display: flex;
}



.search-form{
    display:flex
}
input.search-field{
    text-align: center;
    background-color: transparent;
    &::placeholder{
        color: white;
    }
}

.page-download input.search {
    width: 80%;
}

i.fa-search{
    color: white;
}

.search-submit{
    position: relative;
    left: 2rem;
    top: 0.3rem;
}











