.prizes {
    background: url(../../assets/images/grid-lines.png), url(../../assets/images/background.png); 
    background-repeat: no-repeat;
    background-size: 850px auto, 600px auto;
    background-position: top; 
    height: 90vh;
}