/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.banner {
  background: url(../../assets/images/grid-lines.png),
    url(../../assets/images/background.jpg);
  background-size: cover, 800px, 0, cover;
  height: 200vh;

}

.game-background {
  background: url(../../assets/images/background.jpg);
  background-size: cover;
  background-position: top;
  height: 800vh;
}
