/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.page-arcade {
  background: url(../../assets/images/background.jpg);
  background-size: contain;
  // height: 200vh;
}

.grid-banner-container {
  background: url(../../assets/images/grid-lines.png) no-repeat;
  background-size: contain;
  height: 100vh;
  @include tablet {
    background-size: contain;
    height: 155vh;
  }
  @include desktop {
    background-size: contain;
    height: 178vh;
  }
}

