/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.page-arcade {
  background: url(../../assets/images/background.jpg);
  background-size: contain;
  // height: 200vh;
}

.grid-banner-container {
  background: url(../../assets/images/grid-lines.png) no-repeat;
  background-size: contain;
  height: 100vh;
  @include tablet {
    background-size: cover;
    height: 155vh;
  }
}

// .game-background {
//   background: url(../../assets/images/background.jpg);
//   background-size: cover;
//   background-position: top;
//   height: 800vh;
// }
