.game-template-default.single-game {
  color: $color__main-text;
  background: url(../../assets/images/grid-lines.png),
    url(../../assets/images/background.jpg);
  background-size: $background__size;
  .site-content {
    text-align: center;
  }
  .neon-play-game {
    padding-top: 5rem;
  }
  .entry-content {
    padding: 0 0 6rem 0;
    position: relative;
    text-align: center;
  }
  .game-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .loading-message {
    padding-top: 4rem;
    position: absolute;
    left: 500px;
    font-family: $font__futura-bk;
    font-size: 20px;
  }
  iframe {
    border: none;
    width: 966px; 
    height: 615px;
  }

  .no-game-found {
    font-size: 1.1rem;
    a {
      
      color: $color__main-text;
      &:hover {
        color: $color__hover;
      }
    }
  }
}

