.game-template-default.single-game {
  color: $color__main-text;
  background: url(../../assets/images/grid-lines.png),
    url(../../assets/images/background.jpg);
  background-size: $background__size;
  .site-content {
    text-align: center;
  }
  .neon-play-game {
    padding-top: 5rem;
  }
  .entry-content {
    padding: 0 0 32rem 0;
    position: relative;
    text-align: center;
  }
  .game-wrapper {
    margin: 0 auto;
    width: 966px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .loading-message {
    padding-top: 4rem;
    position: absolute;
    left: 500px;
    font-family: 'Futura-Bk-BT', sans-serif;
    font-size: 20px;
  }
  iframe {
    border: none;
    top: -4px; 
    left: -4px;
    width: 966px; 
    height: 480px;
    position: absolute;
    margin: 0 auto;
  }

  .no-game-found {
    font-size: 1.1rem;
    a {
      
      color: $color__main-text;
      &:hover {
        color: #F08BC4;
      }
    }
  }
}

