.page-template-default.page-play-game {
  color: #fff;
  background: url(../../assets/images/grid-lines.png),
    url(../../assets/images/background.png);
  background-size: cover, 800px, 0, cover;
//   height: 120vh;
 
  .site-content {
    text-align: center;
  }

  .neon-play-game {
      padding-top: 4rem;
  }

  .play-game-container {
      margin: 3rem 0;
  }


  
}
