.widget-area {
    display: none;
    height: 192px;
    width: 287px;
    background: url(../../assets/images/grid-lines.png), linear-gradient(180.06deg, #3A193F 0%, #672973 2.75%, #5A3073 11.07%, #5E2D72 22.02%, #5F2C72 30.78%, #43366C 49.79%, #304371 63.66%, #294872 77.54%, #086B85 100%);
    background-size: cover, 800px, 0, cover;
    position: fixed;
    left: 40%;
    top: 40vh;
    text-align: center;
    z-index: 5000;
    img {
        width: 100px;
    }
    p {
        color: white;
        font-family: 'Futura-Bk-BT';
        font-size: 18px;
    }
}

.hidden-copy {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }