.hide-div {
width: 100vw;
height: 100vh;
position: fixed;
display:flex;
justify-content: center;
align-items: center;
.popup {
    display: none;
    height: 192px;
    width: 287px;
    background: url(../../assets/grid-lines.png), linear-gradient(180.06deg, #3A193F 0%, #672973 2.75%, #5A3073 11.07%, #5E2D72 22.02%, #5F2C72 30.78%, #43366C 49.79%, #304371 63.66%, #294872 77.54%, #086B85 100%);
    background-size: cover, 800px, 0, cover;
    position: absolute;
    left: 40%;
    text-align: center;
    p {
        // margin: 0;
        color: white;
        font-family: 'Futura-Bk-BT';
        font-size: 18px;
    }
}
}