.widget-area {
    display: none;
    height: 50%;
    width: 60%;
    position: fixed;
    left: 20vw;
    top: 20%;
    z-index: 5000;
    @include tablet {
        height: 30%;
        width: 40%;
        left: 30%;
    }
}

.hidden-copy {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }