.search-results {
    .search-game.padding{
        padding-bottom: 35rem;
        @include tablet {
          padding-bottom: 32rem;
        }
        @include desktop {
          padding-bottom: 32rem;
        }
    }
    .drop-down {
    margin-left: 0;
    .meta {
        text-align: left;
    }
    .title h3 {
        text-align: left;
    }
    .gem {
        @include desktop {
            &:before {       
                left: 39%;
            }
        }
    }
    .program h4 {
        @include tablet {
            width: 300px;
        }
    }
}
}