.search,
.search-results {
  color: #fff;
  background: url(../../assets/images/background.jpg);
  background-size: cover, 400px;
  .site-main {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 331px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      width: 550px;
    }
    @include desktop {
      width: 1128px;
    }
  }
  .search-results-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3rem;
    @include desktop {
      justify-content: left;
    }
    .search-game {
      @include desktop {
        padding-right: 28px;
      }
      .type-game {
        background: url(../../assets/images/game-card-desktop.png) no-repeat;
        background-size: cover;
        background-position: top;
        text-align: center;
        margin: 0 auto;
        height: 232px;
        width: 156px;
        @include tablet {
          width: 254px;
          height: 376.95px;
        }
        .entry-title {
          font-size: 14px;
          padding-top: 1rem;
          @include tablet {
            font-size: 18px;
            padding-top: 2rem;
            padding-bottom: 0.5rem;
          }
          a {
            text-decoration: none;
            font-family: $font__futura-bk;
            color: white;
          }
        }
        .thumbnail-image {
          img {
            width: 125px;
            height: auto;
            @include tablet {
              width: 224px;
              height: auto;
            }
          }
        }
        .author {
          h4 {
            margin-bottom: 0.5rem;
            font-family: $font__futura-bk;
            font-size: 12px;
            margin-top: 0;
            @include tablet {
              font-size: 15px;
            }
            @include desktop {
            }
          }
        }
      }
      .arrow {
        margin: 0 auto;
        img {
          width: 20px;
          height: auto;
          @include tablet {
            width: 35px;
          }
        }

        @include tablet {
          padding-bottom: 20px;
        }
      }
    }
  }
  .search-results-header {
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    @include tablet {
      text-align: left;
      margin-bottom: 0;
    }
    @include desktop {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
  .page-title {
    text-align: center;
    font-size: 14px;
    @include desktop {
      padding-bottom: 1rem;
    }
    span {
        background: #17447F;
        padding: 10px;
        border-radius: 5px;
        text-transform: uppercase;
        margin-left: 20px;
    }
    @include tablet {
      text-align: left;
    }
  }
}
.search-no-results {
  form {
    display: none;
  }
}