.search,
.search-results {
  color: #fff;
  background: url(../../assets/images/background.jpg);
  background-size: cover, 400px;

  .site-main {
    padding-top: 5rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      width: 750px;
    }
    @include desktop {
      width: 1000px;
    }
  }

  .search-results-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    height: 100vh;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 6rem;
    }
    @include desktop {
      padding-bottom: 10rem;
    }
    .search-game {
      .type-game {
        background: url(../../assets/images/game-card-desktop.png) no-repeat;
        background-size: cover;
        background-position: top;
        text-align: center;
        height: 450px;
        @include tablet {
          width: 235px;
          height: auto;
        }
        @include desktop {
          width: 235px;
          height: auto;
        }
        .entry-title {
          padding: 3rem 0 0 0;
          a {
            text-decoration: none;
            font-family: 'Futura-Bk-BT';
            color: white;
          }
        }
        .thumbnail-image {
          img {
            width: 220px;
            height: auto;
            @include tablet {
              width: 150px;
              height: auto;
            }
          }
        }
        .author {
          h4 {
            margin: 1rem 0 1.5rem 0;
            font-family: 'Futura-Bk-BT';
            @include desktop {
            }
          }
        }
      }
      .arrow {
        margin: 0 auto;
        img {
          width: 30px;
          height: auto;
        }

        @include tablet {
          padding-bottom: 20px;
        }
      }
    }
  }

  .search-results-header {
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    @include tablet {
      text-align: left;
    }
  }

  .page-title {
    text-align: center;
    font-size: 14px;
    span {
        background: #17447F;
        padding: 10px;
        border-radius: 5px;
        text-transform: uppercase;
        margin-left: 20px;
    }
    @include tablet {
      text-align: left;
    }
  }

}

.search-no-results {
  form {
    display: none;
  }
}