// Structure

$base__space-unit: 1.5rem;
$tablet-width: 600px;
$desktop-width: 1024px;

//Backgrounds

$background__size: cover, 800px, 0, cover;
$background__no-grid: cover, 800px;

// Colors

$color__main-text: #fff;





// Typography

$font__futura: futura;
$font__futura-bold: futura-bold;
$font__futura-heavy: futura-heavy;
$font__futura-bk: Futura-Bk-Bt;
  

// Font Size

$size__font: 1rem;



// Original Fonts as fallback

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
